.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }

  &__name {
    color: #2196f3;
  }
  &__word--white {
    color: #fff;
  }
}
.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    // 
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.page-footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}
