.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--grey {
    background-color: #f5f4fa;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
